<nav class="navbar navbar-expand-md">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">CRUD App</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" 
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">Inicio</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="personasDropdown" role="button" 
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Personas
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="personasDropdown">
                        <li><a class="dropdown-item" href="/personas">Listar Personas</a></li>
                        <li><a class="dropdown-item" href="/personas/buscar">Buscar Personas</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="oficinasDropdown" role="button" 
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Oficinas
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="oficinasDropdown">
                        <li><a class="dropdown-item" href="/oficinas">Listar Oficinas</a></li>
                        <li><a class="dropdown-item" href="/oficinas/buscar">Buscar Oficinas</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav> 