<!DOCTYPE html>
<html>
  <%- include('./head.ejs') %>
  <body>
    <%- include('./partials/navbar.ejs') %>
    <div class="container mt-4">
      <div class="welcome-container">
        <h1 class="welcome-title">Sistema de Gestión Integral</h1>
        <div class="welcome-divider"></div>
      </div>
    </div>
  </body>
</html>
